 <!DOCTYPE html>
 <html>
 <head>
   <title>Test Dashboard</title>
   <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.min.css')}}" />
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='keen-dashboards.css')}}" />
   <link rel="stylesheet" type="text/css" href="{{cdn_css}}" />
   <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css" rel="stylesheet" type="text/css">
   <script src={{cdn_js}} type='text/javascript'></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>
 </head>
 <body class="application">
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     <div class="container-fluid">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="../">
          <!-- <span class="glyphicon glyphicon-chevron-left"></span> -->
         </a>
         <a class="navbar-brand" href="./">Test Dasbboard</a>
       </div>
     </div>
   </div>

   <div class="container-fluid">
     <div class="row">
       <div class="col-sm-6">
         <div class="chart-wrapper">
           <div class="chart-title">
             Benfords Law Analysis
           </div>
           <div class="chart-stage">
            {{BenfordsLaw}}
           </div>
           <div class="chart-notes">
             Notes about this chart
           </div>
         </div>
       </div>
       <div class="col-sm-6">
         <div class="chart-wrapper">
           <div class="chart-title">
             US Map Plot
           </div>
          <div class="chart-stage">
            {{choromap}}
           </div>
           <div class="chart-notes">
             Notes about this chart
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-sm-6">
         <div class="chart-wrapper">
           <div class="chart-title">
             Periodic Elements: Atomic Mass x Atomic Radius
           </div>
           <div class="chart-stage">
            {{bokehElementScript|safe}}
            {{bokehElementDiv|safe}}
           </div>
           <div class="chart-notes">
             Notes about this chart
           </div>
         </div>
       </div>
       <div class="col-sm-6">
         <div class="chart-wrapper">
           <div class="chart-title">
            Simple Bokeh Server
           </div>
          <div class="chart-stage">
              <!-- {{bokehServerScript|safe}}
              {{bokehServerDiv|safe}}
              {{wscript|safe}}
              {{wdiv|safe}} -->

              {{bokehServer|safe}}

           </div>
           <div class="chart-notes">
             Notes about this chart
           </div>
         </div>
       </div>
     </div>
   </div>


   <script type="text/javascript" src="C:\Users\tweatherall\AppData\Local\Programs\Python\Python35-32\PythonScripts\FlaskScripts\templates\dashboards-gh-pages\dashboards-gh-pages\assets\lib\jquery\dist\jquery.min.js"></script>
   <script type="text/javascript" src="C:\Users\tweatherall\AppData\Local\Programs\Python\Python35-32\PythonScripts\FlaskScripts\templates\dashboards-gh-pages\dashboards-gh-pages\assets\lib\bootstrap\dist\js\bootstrap.min.js"></script>


   <script type="text/javascript" src="C:\Users\tweatherall\AppData\Local\Programs\Python\Python35-32\PythonScripts\FlaskScripts\templates\dashboards-gh-pages\dashboards-gh-pages\assets\lib\holderjs\holder.js"></script>
   <script>
     Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
   </script>


   <script type="text/javascript" src="C:\Users\tweatherall\AppData\Local\Programs\Python\Python35-32\PythonScripts\FlaskScripts\templates\dashboards-gh-pages\dashboards-gh-pages\assets\lib\keen-js\dist\keen.min.js"></script>
   <script type="text/javascript" src="C:\Users\tweatherall\AppData\Local\Programs\Python\Python35-32\PythonScripts\FlaskScripts\templates\dashboards-gh-pages\dashboards-gh-pages\assets\js\meta.js"></script>


 </body>
 </html>
